[Desktop Entry]
Name=Kourier
GenericName=Messaging Client
Comment=Send and receive text messages
Exec=kourier %u
Icon=kourier
Type=Application
Categories=Network;Chat;InstantMessaging;
Terminal=false
StartupNotify=true
MimeType=x-scheme-handler/sms;x-scheme-handler/smsto;x-scheme-handler/mms;
